{% extends 'Blog/layout.html' %}

{% block body_block %}



<a href="http://localhost:8000/Blog/profile/admin/">Post</a>

 <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Autor</th>
      <th>Contenido</th>
      <th>Comentarios</th>
      <th>Eliminar</th>
      <th>Ver post</th>
    </tr>
  </thead>
  <tbody id='posts'>
    {% for post in posts %}
      {% if forloop.counter0|divisibleby:1 %}      
        <tr class="post-card" data-post-id="{{ post.id }}">
        {% endif %}
        <td>{{ post.id }}</td>
        <td class="post-author">{{ post.post_author }}</td>
        <td class="post-content">{{ post.post_text }}</td>
        <td class="post-cometarios">{{post.comentarios_text}}</td>
        <td class="remove-post-button"><button>Borrar</button></td>
        <td class="ver_post"><button>Ver post</button></td>
        {% if forloop.counter|divisibleby:1 %}
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
  </div>

{% comment %}
{% if user.is_authenticated %}
       <a href="/rango/category/{{category_name_url}}/add_page/">Add a Page</a>
    {% endif %}
{% endcomment %}  
{% endblock %}