<!DOCTYPE html>
{% load staticfiles %}

<html>
<title>Super ejemplo funcional para crear, borrar y duplicar con Ajax & Python</title>
    <head lang="en">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
      <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/blog-jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/blog-ajax.js' %}"></script>

      <!--handsonetable -->
      <link data-jsfiddle="common" rel="stylesheet" media="screen" href="{% static 'dist/handsontable.full.css' %}">
      <script data-jsfiddle="common" src="{% static 'dist/handsontable.full.js' %}"></script>
      
      <!--dependencias -->  
      <!--<link rel="stylesheet" media="screen" href="{% static 'css/samples.css' %}">-->
      <script  data-jsfiddle="common" src="{% static 'js/samples.js' %}"></script>
      <script src="{% static 'js/highlight/highlight.pack.js' %}"></script>
      <link rel="stylesheet" media="screen" href="{% static 'js/highlight/styles/github.css' %}">
      <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
  

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
      <meta charset="UTF-8">
          
        
    </head>
    <body class="page-header-fixed page-quick-sidebar-over-content page-style-square">
        {% include "Blog/navbar.html"%}
      <div class="container">
        <div class="row row-centered">
            
        <div class="page-header">     
        </div>
          {% block body_block %}{% endblock %}
     
      </div>
       </div>        
    </body>
</html>
