{% extends 'Blog/layout.html' %}

{% block body_block %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Blog</title>
    </head>

    <body>
        <h1>Login to Blog</h1>
        <h2 id='failed-notice'> </h2>

        <p>Login.html</p>
        
        <form id="login_form" method="post" action="/Blog/login/">
            
            {% csrf_token %}
            Username: <input id="username-field" type="text" name="username" value="" size="50" />
            <br />
            Password: <input id="password-field" type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
        <br>
        <br>
        <br>
        
<!--volver -->
        <input action="action" type="button" value="Volver" onclick="history.go(-1);" />
        <br>
        <br>
        <a href="./..">Volver</a>
<!--volver -->    
    </body>
</html>

{% endblock %}
