<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/Blog">Super ejemplo funcional para borrar con Ajax y Python</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">            
            
            {% if user.is_authenticated %}
            <li>
              <a href="{{user_profile}}">Crear Post</a>
            </li>
            {% else %}
              <li class="active">
              <a href="/Blog/login">Login</a>
            </li>            
            <li>
              <a href="register">Registrar</a>
            </li>

            {% endif %}
                        
          </ul>
          <br>
          <ul class="nav navbar-right top-nav">
            {% if user.is_authenticated %}
                   {{ user.username }}
                   <a href="/Blog/logout"> Salir</a>
                {% else %}{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>