{% extends 'Blog/layout.html' %}
{% block body_block %}
<div class="col-md-8">
  <h1>Hola {{ user.username }}!</h1>
  <!--contenedor de la tabla -->
  {% comment %}
  
  <div id='posts'>
    {% for post in posts %}
      <span class="post-card" data-post-id="{{ post.id }}">
        Text: {{ post.post_text }}
        </BR>
        Author: {{ post.post_author }}        
        <button class="remove-post-button">Borrar</button>
      </span>
    {% endfor %}
  </div>
  
  <br>
{% endcomment %}
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Autor</th>
      <th>Contenido</th>
      <th>Comentarios</th>
      <th>Eliminar</th>
      <th>Duplicar</th>
      <th>Ver post</th>
    </tr>
  </thead>
  <tbody id='posts'>
    {% for post in posts %}
      {% if forloop.counter0|divisibleby:1 %}
        
        <tr class="post-card" data-post-id="{{ post.id }}">
        {% endif %}
        <td>{{ post.id }}</td>
        <td class="post-author">{{ post.post_author }}</td>
        <td class="post-content">{{ post.post_text }}</td>
        <td class="post-comentarios"></td>
        <td class="remove-post-button"><button>Borrar</button></td>
        <td class="duplicar"><button onClick='window.location.reload()'>Duplicar</button></td>
        <td class="ver_post"><button>Ver post</button></td>
        {% if forloop.counter|divisibleby:1 %}
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{% if user_required_id == user.id %}
  <div class="post">
    <form id="post_form" method="post">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
      
      <input type="submit" name="submit" value="Post" /> 
    </form>
    {% endfor %}
  </div>

  </div>

  <div id="results">
    
  </div>
{% endif %}
{% endblock %}