h1 {
  color: black;
}

body {
  margin: 5rem;
  font-family: "Helvetica";
}

a {
  cursor: pointer;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.page-header {
  
  margin: 60px 0 20px !important;
}
